<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href='styles.css'> 
  </head>
  <body>
    <form action='/submit'method='POST'>
      <label>Name</label>
      <input name='name' type="text">
      <label>About me</label>
      <textarea name='Aboutme'></textarea>
      <label>Github URL</label>
      <input name='githubUrl' type="text">
      <label>Twitter URL</label>
      <input name='twitterUrl' type="text">
      <label>Favorite Books</label>
      <textarea name='FavoriteBooks'></textarea>
      <label>Favorite Artists</label>
      <textarea name='FavoriteArtists'></textarea>

      <button type="submit">Create Site</button>
    </form>
  </body>
</html>
